.content{
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
}

.label{
  margin-top: 10px;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.form-description{
  margin-top: 20px;
}

.form-title{
  margin-top: 30px;
}

.form-property{
  width: 100%;
  background-color: rgba(249, 249, 249, 1);
  margin-bottom: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
}


.name-category,
.desription-category,
.name-property,
.constraint-property,
.type-property
{
    border-radius: 3px;
    border: 1px solid rgb(190, 190, 190);
    padding: 3px 2px 3px 15px;  
    font-size: 13px;
    font-family: 'Arial', sans-serif;
    text-align: left;
    border: 1px solid #dddddd;
}

.name-category{
    height: 33px;
    width: 586px;
}

.desription-category{
    height: 96px;
    width: 586px;
}

.type-property:focus{
  box-shadow: none;
}

.name-custom,.type-custom,.constraint-custom{
  margin-right: 20px;
  width: 398px;
}

.name-property,
.type-property,
.constraint-property{
  width: 100%;
  height: 33px;
  margin-top: 5px;
  text-align: left;
}


.name-category:focus,
.desription-category:focus,
.name-property:focus,
.type-property:focus,
.constraint-property:focus,
.submit:focus
{
    outline: none !important;
}

.icon-custom{
    float: right;
    margin-top: 10px;
}

.icon{
    margin-right: 10px;
    font-size: 16px;
    color: #bdbdbd; 
}

.icon:hover{
  color: #2196F3;
}

.submit{
    float: right;
    width: 140px;
    height: 40px;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 40px;
    border: 1px solid rgba(121, 121, 121, 1);
    border-radius: 5px;
    text-align: center;
    color: #333;
}
 
.submit-save:hover,
.submit-cancel:hover{
  color: #4678b9;
  border: 1px solid #4678b9;
  background-color: #ffffff;
}

.submit-save:active,
.submit-cancel:active{
  color: #ffffff;
  border: none;
  background-color: rgba(22, 155, 213, 1);;
}


/* switch */

.switch {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-left: 20px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 6px;
    left: 0;
    right: 0;
    bottom: -6px;
    background-color: #9b9b9b;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 16px;
    left: -11px;
    bottom: -2px;
    background-color: #0184ff;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #b7dcff;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.addProperty{
    border: none;
    background-color: #ffffff;
    color: #bdbdbd;
}

.addProperty:focus{
  outline: none !important;
}

.icon-move-up{
  border: none;
  background-color: #ffffff;
}