<div class="content">
    <form>
        <div class="form-name">
            <label class="name">Tên loại sản phẩm</label>
            <div class="clearfix"></div>
            <input type="text" class="name-category">
        </div>

        <div class="form-description">
            <label class="name">Mô tả</label>
            <div class="clearfix"></div>
            <input type="text" class="desription-category">
        </div>
    </form>
    <p class="form-title">Thuộc tính</p>
    <div [formGroup]="propertyForm">
        <div formArrayName="items" *ngFor="let item of propertyForm.get('items')['controls']; let i = index;">
            <div [formGroupName]="i">
                <div class="form-property">
                    <div class="name-custom">
                        <label class="label">Tên thuộc tính</label>
                        <input type="text" class="name-property" formControlName="name">
                        <label class="label">Bắt buộc nhập</label>
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="type-custom">
                        <label class="label">Kiểu dữ liệu</label>
                        <select class="form-control type-property" formControlName="typeProperty">
                            <option name="" class="item" value="Text">Text</option>
                            <option name="" class="item" value="Number">Number</option>
                            <option name="" class="item" value="Image">Image</option>
                            <option name="" class="item" value="Video">Video</option>
                            <option name="" class="item" value="Format Text">Format Text</option>
                            <option name="" class="item" value="List">List</option>
                        </select>
                    </div>
                    <div class="constraint-custom">
                        <label class="label">Ràng buộc dữ liệu</label>
                        <input type="text" class="constraint-property" formControlName="constraintProperty">
                        <div class="icon-custom">
                            <i class="fas fa-arrow-up icon" (click)="moveUp(i)"></i>
                            <i class="fas fa-arrow-down icon" (click)="moveDown(i)"></i>
                            <i class="far fa-trash-alt icon" (click)="removeItem(i)"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button (click)="addProperty()" class="addProperty"><i class="fas fa-plus icon"></i>Thêm thuộc tính</button>
    <button class="submit submit-save" (click)="backClicked()">LƯU</button>
    <button class="submit submit-cancel" (click)="backClicked()">HỦY BỎ</button>
</div>