.app-header {
    display: flex;
    justify-content: flex-end;
    height: 62px;
    background-color: #fff;
    padding-right: 20px;
}

.header-content {
    display: flex;
    align-items: center;
}

.account-header {
    width: 40px;
    height: 40px;
    margin-left: 30px;
}

.account-avatar {
    display: block;
    width: 100%;
    height: 100%;
}