<div class="app-header">
    <div class="header-content">
        <div>
            <img src="assets/images/productcatalog/u17.svg" />
        </div>
        <div class="account-header">
            <img src="assets/images/productcatalog/u10.png" class="account-avatar"/>
        </div>
    </div>
</div>
