.content{
  float: left;
  padding-left: 30px;
}
.row{
  margin-left: 0px;
  margin-right: 0px;
}

.form-search{
  width: 369px;
  height: 33px;
}

.input-search{
  padding: 3px 2px 3px 15px;
  font-weight: 400;
  font-size: 13px;
  border-right: none;
}

.input-search:focus{
  outline: none !important;
  box-shadow: none;
  border: 1px solid #ced4da;
  border-right: none;
}

.search-button{
  background-color: #ffffff;
  color: #666;
}

.search-button:hover{
  color: #2a6ebb;
}

.search-button:active{
  background-color: #f2f7ff;
}

.row-card{
  margin-top: 20px;
  display: flex;
}

.card{
  width: 183px;
  height: 86px;
  margin-right: 20px;
  background-color: rgba(250, 250, 250, 1);

}

.card:focus{
  outline: none !important;
}

.card-body{
  padding: 15px;
  line-height: 5px;
}

.card-title{
  font-size: 14px;
  color: #333333;
  font-weight: 700;
  font-family: 'Arial Bold', 'Arial', sans-serif;
  font-size: 14px;
  text-align: left;
}

.card-text{
  font-size: 12px;
  margin-bottom: auto;
  color: #1090FF;
}

.icon{
  float: right;
  margin-top: 5px;
  font-size: 16px;
  color: #666;
}

.icon-setting:hover,
.icon-delete:hover{
  color: #2a6ebb;
}


.icon-setting{
  margin-right: 10px;
}

.card5{
  text-align: center;
}

.icon-add{
  font-size: 40px;
  color: rgba(236, 236, 236, 1);
}

