<div class="content">
  <div class="input-group md-form  form-search">
    <input class="form-control input-search" type="text" placeholder="Tìm kiếm" aria-label="Search">
    <div class="input-group-append ">
      <span class="input-group-text lime lighten-2 search-button">
        <i class="fas fa-search text-grey" aria-hidden="true"></i>
      </span>
    </div>
  </div>
  <div class="row row-card">
    <div class="card" *ngFor="let item of data">
      <div class="card-body">
        <h5 class="card-title">{{item.title}} </h5>
        <p class="card-text">{{item.content}} </p>
        <div class="icon">
          <i class="fas fa-cog icon-setting"></i>
          <i class="far fa-trash-alt icon-delete"></i>
        </div>
      </div>
    </div>
    <div class="card card5" routerLink="./add-product-category" routerLinkActive="active">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <i class="fas fa-plus icon-add"></i>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>