<div class="sidebar">
    <a [routerLink]="" class="logo">
        <img src="assets/images/productcatalog/u8.png" class="logo-image"/>
        <span>vODP</span>
    </a>
    <a routerLink="/category" routerLinkActive="active" class="category-link">
        <div class="category-image">
            <img src="assets/images/productcatalog/u12.svg" />
        </div>
        <span>Danh mục loại sản phẩm</span>
    </a>
    <a routerLink="/product" routerLinkActive="active" class="category-link">
        <div class="category-image">
            <img src="assets/images/productcatalog/u15.svg" />
        </div>
        <span>Quản lý sản phẩm</span>
    </a>
    <a routerLink="/price" routerLinkActive="active" class="category-link">
        <div class="category-image">
            <img src="assets/images/productcatalog/u9.svg" />
        </div>
        <span>Chính sách giá</span>
    </a>
    <a routerLink="/process" routerLinkActive="active" class="category-link">
        <div class="category-image">
            <img src="assets/images/productcatalog/u13.svg" />
        </div>
        <span>Quản lý quy trình</span>
    </a>
    <a routerLink="/report" routerLinkActive="active" class="category-link">
        <div class="category-image">
            <img src="assets/images/productcatalog/u14.svg" />
        </div>
        <span>Báo cáo</span>
    </a>
</div>
