.sidebar {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200vh;
    background-color: #2f6f74;
}

.category-link {
    display: flex;
    align-items: center;
    height: 58px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    white-space: nowrap;
}

.category-link:hover {
    background-color: #3e8489;
}

.category-link.active {
    background-color: #3e8489;
    border-left: 4px solid #fff;
}

.category-image {
    width: 60px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    font-family: "Britannic Bold", Britannic, sans-serif;
    text-decoration: none;
    margin: 20px 30px 30px;
}

.logo-image {
    display: block;
    width: 46px;
    height: 43px;
    margin-right: 8px;
}